*.userprefs
*.suo
StyleCop.Cache

src/packages
src/Distribox.FileSystem/bin
src/Distribox.FileSystem/obj
src/Distribox.CommonLib/bin
src/Distribox.CommonLib/obj
src/Distribox.Network/bin
src/Distribox.Network/obj
src/Distribox.CLI/bin
src/Distribox.CLI/obj

doc/html

