*.userprefs
*.suo
StyleCop.Cache

Distribox/Distribox.FileSystem/bin
Distribox/Distribox.FileSystem/obj
Distribox/Distribox.CommonLib/bin
Distribox/Distribox.CommonLib/obj
Distribox/Distribox.Network/bin
Distribox/Distribox.Network/obj
Distribox/Distribox.CLI/bin
Distribox/Distribox.CLI/obj

doc/html

